@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  background: url('../src/assets/Pattern.svg') no-repeat center center fixed;
  background-size: cover;
  backdrop-filter: blur(1px);
}
.res-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}


.shimmer {
  animation: shimmer 2s infinite linear;
  background: linear-gradient(to right, #f0f0f0 4%, #e0e0e0 25%, #f0f0f0 36%);
  background-size: 1000px 100%;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
.loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3d1051; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite; /* Apply the animation */
  z-index: 99999;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.fixed-overlay {
  position: fixed;
  
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity as needed */
  z-index: 9999; /* Ensure it's above other content */
  overflow: hidden; /* Prevent scrolling */
}